.main__cursos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  padding-top: 1em;
}

.main__cursos__title {
  font-size: x-large;
}

.main__cursos__list {
  display: grid;
  justify-content: center;
  grid-template-rows: auto;
  grid-template-columns: repeat(1, 80%);
  gap: 1em;
}

.main__cursos__list__item {
  display: inline-block;
}

.main__cursos__list__item__card {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--black);
  padding: 0.75em;
  gap: 0.75em;
  height: 100%;
  background-color: var(--whihte);
  justify-content: space-between;
}

.main__cursos__list__item__card__top {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main__cursos__list__item__card__top__img {
  width: 100%;
  height: 100%;
}

.main__cursos__list__item__card__top__kind-tag {
  position: absolute;
  left: 0.5em;
  top: 0.5em;
  background-color: var(--air-force-blue);
  padding: 0.4em 0.6em;
  border-radius: 0.25em;
  box-shadow: 0 0.125em 0.25em rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.main__cursos__list__item__card__top__kind-tag__kind {
  color: var(--whihte);
  font-weight: 700;
  font-size: 0.75em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.main__cursos__list__item__card__top__tag {
  position: absolute;
  right: 0;
  bottom: 15%;
  background: var(--black);
  padding: 0.25em;
}

.main__cursos__list__item__card__top__tag__price {
  color: var(--whihte);
}

.main__cursos__list__item__card__bottom {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 0.75em;
}

.main__cursos__list__item__card__bottom__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5em;
}

.main__cursos__list__item__card__bottom__info__duration {
  display: flex;
}

.main__cursos__list__item__card__bottom__info__duration__number {
  font-size: x-large;
  font-weight: 600;
}

.main__cursos__list__item__card__bottom__info__duration__text {
  font-weight: 600;
  align-self: center;
}

.main__cursos__list__item__card__bottom__info__name {
  display: flex;
  flex-direction: column;
  align-items: end;
  text-align: right;
}

.main__cursos__list__item__card__bottom__info__name__title {
  font-size: large;
}

.main__cursos__list__item__card__bottom__info__name__detail {
  font-size: small;
}

.main__cursos__list__item__card__bottom__buy {
  display: flex;
  flex-direction: row-reverse;
  gap: 0.5em;
}

.main__cursos__list__item__card__bottom__buy__btn {
  background-color: var(--auburn);
  color: var(--whihte);
  padding: 0.4em;
  border-radius: 5px;
}

.main__cursos__list__item__card__bottom__subscribe__btn {
  background-color: var(--auburn);
  color: var(--whihte);
  padding: 0.4em;
  border-radius: 5px;
}

.main__cursos__list__item__card__bottom__cart__btn {
  background-color: var(--auburn);
  color: var(--whihte);
  padding: 0.4em;
  border-radius: 5px;
}

@media screen and (min-width: 47em) {
  .main__cursos__title {
    font-size: xx-large;
  }
  .main__cursos__list {
    grid-template-columns: repeat(2, 35%);
  }
  .main__cursos__list__item__card {
    padding: 1em;
  }
  .main__payments__carousel__list__item__img {
    width: 4em;
  }
}

@media screen and (min-width: 60em) {
  .main__cursos__list {
    grid-template-columns: repeat(3, 25%);
    gap: 2em;
  }
  .main__payments__carousel__list__item__img {
    width: 5em;
  }
}
