.contacto {
    font-family: var(--alan-sans);
    display: grid;
    grid-template-columns: 1fr;
}

.contacto__formulario form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 0.5em;
    background-color: var(--gainsboro);
}

h3 {
    text-align: center;
    padding: 0.30em;
    background-color: var(--air-force-blue);
}

h4 {
    padding: 0.60em;
    text-align: center;

}



.contacto__formulario form label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1em;
    margin: 0.20em;
}

.contacto__formulario button {
    padding: 1em;
    border-radius: 0.25em;
    font-weight: 600;
    font-size: 0.9em;
    letter-spacing: 0.05em;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    border: none;
    background-color: var(--air-force-blue);
}


.contacto__info p {
    font-weight: bold;
    text-align: center;
    margin: 0.20em;
}

.contacto__info img {
    width: 80%;
    margin: 0.5em 1.9em;
}

/* Vista Tablet*/
@media screen and (min-width: 47em) {

    .contacto {
        grid-template-columns: repeat(2, 1fr);
        gap: 1em;
    }

    .contacto__info img {
        width: 80%;
        margin: 0.5em 2.3em;
    }
}

/* Vista escritorio */
@media screen and (min-width: 60em) {

    .contacto {
        grid-template-columns: repeat(2, 1fr);

    }

    .contacto__info img {
        width: 80%;
        margin: 0.5em 3.7em;
    }

}