/* Mobile First Styles */
.header {
  width: 100%;
  background-color: var(--sky-blue);
  box-shadow: 0 0.125em 0.25em var(--black);
}

.header__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em;
  gap: 0.5em;
  max-width: 75em;
  margin: 0 auto;
}

.header__logo {
  order: 1;
  flex: 0 0 auto;
}

.header__logo-img {
  width: 3em;
  height: 3em;
  object-fit: contain;
}

.header__user,
.header__cart {
  order: 2;
  flex: 0 0 auto;
  z-index: 10;
}

.header__user-btn,
.header__cart-btn {
  border: 1px solid var(--black);
  background-color: var(--air-force-blue);
  border-radius: 0.25em;
  color: var(--black);
  cursor: pointer;
  position: relative;
  font-size: 1.6em;
  padding: 0.25em;
}

.header__user-btn:hover,
.header__cart-btn:hover {
  background-color: var(--sky-blue);
}

.header__cart-count {
  position: absolute;
  top: -0.4em;
  right: -0.4em;
  background-color: var(--coral-red);
  color: var(--white);
  border-radius: 50%;
  width: 1.2em;
  height: 1.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.6em;
  font-weight: bold;
  line-height: 1;
}

.header__search {
  order: 3;
  flex: 1 1 100%;
  display: flex;
  align-items: center;
  margin: 0;
  position: relative;
}

.header__search-input {
  width: 100%;
  padding: 0.4em 2.2em 0.4em 0.6em;
  border: 0.125em solid var(--black);
  border-radius: 0.25em;
  background-color: var(--air-force-blue);
  color: var(--black);
  font-size: 0.8em;
  outline: none;
}

.header__search-input::placeholder {
  color: var(--black);
}

.header__search-input:focus {
  border-color: var(--air-force-blue);
  background-color: var(--sky-blue);
}

.header__search-btn {
  position: absolute;
  right: 0.5em;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1em;
  color: var(--black);
  padding: 0.25em;
}

.header__search-btn:hover {
  color: var(--air-force-blue);
}

.header__nav {
  background-color: var(--air-force-blue);
  border-top: 0.0625em solid var(--whihte);
}

.header__nav-container {
  max-width: 75em;
  margin: 0 auto;
  padding: 0.75em 1em;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}

.header__nav-link {
  color: var(--whihte);
  font-weight: 500;
  font-size: 0.6em;
  letter-spacing: 0.1em;
  cursor: pointer;
  text-decoration: none;
}

.header__nav-link:visited {
  color: var(--whihte);
}

.sidebar-carrito {
  background-color: var(--sky-blue);
  position: fixed;
  top: 0;
  right: 0;
  height: 100dvh;
  width: 30%;
  padding: 1em;
  padding-top: 8em;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  gap: 1em;
  transform: translateX(100%);
  transition: transform 0.4s ease-in-out;
}

.sidebar-carrito.open {
  transform: translateX(0);
}

.cart__item {
  display: flex;
  flex-direction: column;
  background-color: var(--whihte);
  border: 0.125em solid var(--air-force-blue);
  border-radius: 0.5em;
  padding: 1em;
  gap: 1em;
  box-shadow: 0 0.25em 0.5em var(--philippine-silver);
}

.cart__item__image {
  flex-shrink: 0;
  align-self: center;
}

.cart__item__img {
  width: 100%;
  max-width: 12em;
  height: 7em;
  object-fit: cover;
  border-radius: 0.25em;
}

.cart__item__details {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.cart__item__title {
  font-size: 1.1em;
  font-weight: 600;
  color: var(--black);
  line-height: 1.2;
}

.cart__item__duration {
  font-size: 0.85em;
  color: var(--raw-umber);
  font-weight: 500;
}

.cart__item__link {
  font-size: 0.85em;
  color: var(--air-force-blue);
  text-decoration: underline;
  font-weight: 500;
  align-self: flex-start;
}

.cart__item__link:hover {
  color: var(--sky-blue);
}

/* .cart__item__right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 1em;
} */

.cart__item__price {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em 0;
}

.cart__item__amount {
  font-size: 1.3em;
  font-weight: 700;
  color: var(--auburn);
  letter-spacing: 0.05em;
}

.cart__item__actions {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart__item__remove {
  background-color: var(--coral-red);
  color: var(--whihte);
  border: none;
  border-radius: 0.25em;
  padding: 0.5em;
  font-size: 1.1em;
  cursor: pointer;
}

.cart__item__remove:hover {
  background-color: var(--auburn);
}

@media screen and (min-width: 47em) {
  .header__container {
    flex-wrap: nowrap;
    padding: 0.5em;
  }

  .header__logo {
    order: unset;
  }

  .header__logo-img {
    width: 3.5em;
    height: 3.5em;
  }

  .header__search {
    order: unset;
    flex: 1;
    margin: 0 1em;
  }

  .header__search-input {
    font-size: 0.8em;
    padding: 0.4em 2.2em 0.4em 0.6em;
  }

  .header__cart {
    order: unset;
  }

  .header__cart-btn {
    font-size: 1.2em;
  }

  .header__cart-count {
    font-size: 0.7em;
  }
}

@media screen and (min-width: 60em) {
  .header__container {
    padding: 0.75em 1em;
  }

  .header__logo-img {
    width: 4em;
    height: 4em;
  }

  .header__search {
    margin: 0 2em;
  }

  .header__search-input {
    padding: 0.5em 2.5em 0.5em 0.75em;
    font-size: 0.9em;
  }

  .header__cart-btn {
    font-size: 1.5em;
  }

  .header__cart-count {
    top: -0.5em;
    right: -0.5em;
    font-size: 0.7em;
  }
}
