/* use https://www.color-name.com/ to get the color name */
:root {
    --whihte: #ffffff;
    --black: #000000;
    --coral-red: #ff4444;
    --antique-white: #ffe8d1;
    --air-force-blue: #568ea3;
    --sky-blue: #68c3d4;
    --raw-umber: #826251;
    --auburn: #a52a2a;
    --philippine-silver: #b3b3b3;
    --gainsboro: #DCDCDC;
    --dark-gray: #555;
    --medium-gray: #333;
    --success-green: #4CAF50;
    --dark-green: #036508;
    --peach: #ffd6b3;
    --light-gray: #D3D3D3;
    --whitesmoke: #F5F5F5;
    --aquamarine: #7FFFD4;
    --greenyellow: #ADFF2F;
    --blueviolet: #8A2BE2;
    --yellow: #FFFF00;
    --transparent: transparent;
    --light-green: #65c675;
    --pale-green: #cdf7d3;
    --white: #ffffff;  
}