.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--whihte);
    padding: 1em;
    border-radius: 0.5em;
    box-shadow: 0 0 1em var(--philippine-silver);
}

.modal.error {
    background-color: var(--coral-red);
}

.modal.success {
    background-color: var(--success-green);
}

.modal.confirmation {
    background-color: var(--whihte);
}

.modal h2 {
    font-size: 1.2em;
    font-size: 1.2em;
    font-weight: 700;
    color: var(--black);
    margin-bottom: 1em;
    text-align: center;
    letter-spacing: 0.05em;
}

.modal p {
    font-size: 1em;
    color: var(--black);
    text-align: center;
    margin-bottom: 1em;
}

.modal button {
    background-color: var(--air-force-blue);
    color: var(--whihte);
    border: none;
    padding: 0.5em 1em;
    border-radius: 0.25em;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    letter-spacing: 0.05em;
    text-decoration: none;
    text-align: center;
}

.modal__buttons {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 1rem;
}

.modal__button {
    background-color: var(--air-force-blue);
}

.modal__button--confirm {
    background-color: #dc3545 !important;
}

.modal__button--cancel {
    background-color: #6c757d !important;
}